:root {
  --background: #000000;
  --fontColor: #ffffff;
  --background2: color-mix(in srgb, var(--fontColor) 48%, var(--background));
  --bigKegel: min(10vw, 10vh);
  --smallKegel: calc(0.5*var(--bigKegel));
  --blurLevel: 0px;
  --opacityLevel: 1;
  --tipPosition: 50%;
  --tipOpacity: 0;
  --animationTime: 3s;
  --scrollLength: 0;
  --keyboardHeight: env(keyboard-inset-height, 0px);
}

phtml,
body {
  background: var(--fontColor);
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

canvas {
  display: block;
}

.menubutton {
  appearance: none;
  color: var(--fontColor);
  height: var(--smallKegel);
  position: absolute;
  left: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: calc(0.9*var(--bigKegel));
  
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  
  cursor: pointer;
  user-select: none;
  transition: hover .2s ease-in-out;
  left: 0.76em;
  bottom: calc(0.48em + env(keyboard-inset-height, 0em));
  display: grid;
  place-content: center;
}
.menubutton:hover {
  transform: translate(-50%, -53%) scale(1.1);
}
.menubutton::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}
.menubutton:checked::before {
  transform: scale(1);
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

#contentBox {
  position: relative;
  width: 100vw;
  height: min(125vw, 100vh);
    left: 0px;
  top: 0px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

#result {
  width: 100%;
  font-size: var(--bigKegel);
  color: var(--fontColor);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  display: inline-block;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-composition: unset;
}

#verbFrench {
  
  position: absolute;
    font-size: var(--bigKegel);
  color: var(--fontColor);
  
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  top: calc(var(--bigKegel)*1.6);
  left: 50%;
  transform: translate(-50%, -50%);
}

#translation {
  position: absolute;
      font-size: var(--smallKegel);
  color: var(--fontColor);
  top: calc(1.6*var(--bigKegel) + 1.55*var(--smallKegel));
  width: 100%;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  display: inline-block;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tip {
  position: absolute;
        font-size: var(--smallKegel);
  color: var(--background);
  top: 50%;
  transform: translate(-50%, -50%);
  /*white-space: pre-line;*/
  line-height: 1.0;
  opacity: 0;
  width: 100%;
}

#tip > p {
  line-height: 1.1;
  margin: 0;
  padding: 0;

}

#hiddenInput {
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  position: absolute;
  left: -1px;
  top: -1px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 1px;
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  outline: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0;

  caret-color: transparent;
}

#group {
  position: absolute;  
  font-size: var(--smallKegel);
  color: var(--background2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 50%;
  transform: translate(-50%, -50%);
  top: var(--smallKegel);
  display: inline-block;
  padding:0em;

}

#gradBox {  
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  bottom: 0px;
  left: 0px;
  --background1: var(--background);
  background-image: linear-gradient(var(--background1) 0%, color-mix(in srgb, var(--background1) 40%, var(--fontColor)) 45% 52%, var(--background2) 75% 85%, var(--fontColor) 115%);
}

@keyframes fly-in {
  0% {left: 0;
  opacity: 0;}
  100% {left: 50%;
  opacity: 1;}
}
@keyframes fly-out {
  0% {left: 50%;
  opacity: 1;}
  100% {left: 100%;
  opacity: 0;}
}
@keyframes fly-back {
  0% {left: var(--tipPosition);
  opacity: var(--tipOpacity);}
  100% {left: 0;
  opacity: 0;}
}
@keyframes fade-in {
  0% {
    opacity: var(--opacityLevel);
  } 100% {
    opacity: 0.4;
  }
}
@keyframes fade-out {
  0% {
    opacity: var(--opacityLevel);
  } 100% {
    opacity: 1;
  }
}
@keyframes blur-in {
  0% {
    color: transparent;
  text-shadow: 0 0 0 var(--fontColor);
    padding:0em;
  } 100% {
    color: transparent;
  text-shadow: 0 0 calc(0.25*var(--bigKegel)) var(--fontColor);
    padding:0em;
  }
}
@keyframes blur-out {
  0% {
    color: transparent;
  text-shadow: 0 0 var(--blurLevel) var(--fontColor);
    padding:0em;
  } 100% {
    color: transparent;
  text-shadow: 0 0 0 var(--fontColor);
    padding:0em;
  }
}
@keyframes group-blur-in {
  0% {
    color: transparent;
  text-shadow: 0 0 0 var(--background2);
    padding:0em;
  } 100% {
    color: transparent;
  text-shadow: 0 0 calc(0.25*var(--bigKegel)) var(--fontColor);
    padding:0em;
  }
}
@keyframes group-blur-out {
  0% {
    color: transparent;
  text-shadow: 0 0 var(--blurLevel) var(--fontColor);
    padding:0em;
  } 100% {
    color: transparent;
  text-shadow: 0 0 0 var(--background2);
    padding:0em;
  }
}


@keyframes shake {
  0% {  margin-left: 0rem; }
  25% { margin-left: 0.75rem; }
  75% { margin-left: -0.75rem; }
  100% { margin-left: 0rem; }
}

@keyframes leftScroll {
  from {
    
     margin-left: calc(0.25*var(--scrollLength)); 
  }
  to {
     margin-left: calc(-0.25*var(--scrollLength)); 
  }
}

@keyframes flyUp {
  0% {
    opacity: 1;
    margin-top:0px
  } 
  
  20% {
    opacity: 0;
  }
  
  100% {
    opacity: 0;
    margin-top:calc(-8*var(--bigKegel));
  } 
}

@keyframes newVerb {
  0% {
    opacity: 0;
  }   
  100% {
    opacity: 1;
  } 
}
@keyframes newGroup {
  0%, 70% {
    opacity: 0;
  }   
  100% {
    opacity: 1;
  } 
}

@keyframes resultOut {
  0% {
    left: 50%;
    transform: translate(-50%, -50%), scale(1.0);
  }   
  75% {
    left: 50%;
    transform: translate(-50%, -50%), scale(1.2);
  } 
  100% {
    left: 150%;
  }   
}

@keyframes resultIn {
  0%, 40% {
    opacity: 0;
    left: 0%
  }   
  
  53% {
    left: 15%
  }
   
  62% {
    left: 40%
  }
  
  70% {
    opacity: 0.3;
    left: 52%;
  }
  100% {
    opacity: 1;
    left: 50%
  }   
}
